Repository AdamsLair/duality, pull requests merged in 2018-06, with the labels that each got.

#652 Copy/Paste GameObjects and Components in SceneView
  Source/Editor/DualityEditor/DualityEditor.csproj
  Source/Editor/DualityEditor/Properties/GeneralRes.Designer.cs
  Source/Editor/DualityEditor/Properties/GeneralRes.resx
  Source/Editor/DualityEditor/UndoRedoActions/DeleteComponentAction.cs
  Source/Editor/DualityEditor/UndoRedoActions/PasteGameObjectAction.cs
  Source/Editor/DualityEditor/Utility/Extensions/DataObjectStorage.cs
  Source/Editor/DualityEditor/Utility/Extensions/ExtMethodsDataObject.cs
  Source/Plugins/EditorModules/CamView/CamViewStates/ObjectEditor/ObjectEditorCamViewState.cs
  Source/Plugins/EditorModules/SceneView/Modules/SceneView.cs
  Source/Plugins/EditorModules/SceneView/Properties/SceneViewRes.Designer.cs
  Source/Plugins/EditorModules/SceneView/Properties/SceneViewRes.resx
Labels: Editor, Feature, Usability, Work in Progress

#667 RequiredComponent with Abstract Types Fix
  Source/Editor/DualityEditor/Forms/ListSelectionDialog.cs
  Source/Editor/DualityEditor/UndoRedoActions/CreateComponentAction.cs
  Source/Plugins/EditorModules/CamView/CamViewStates/SceneEditor/SceneEditorCamViewState.cs
Labels: Editor, Feature

#659 Simplified Asset Importer
  Source/Editor/DualityEditor/AssetManagement/AssetImporter.cs
  Source/Editor/DualityEditor/DualityEditor.csproj
  Source/Plugins/EditorBase/Importers/AudioDataAssetImporter.cs
  Source/Plugins/EditorBase/Importers/FontAssetImporter.cs
  Source/Plugins/EditorBase/Importers/PixmapAssetImporter.cs
  Source/Plugins/EditorBase/Importers/ShaderAssetImporter.cs
Labels: Editor, Feature

#670 Fix for #669
  Source/Core/Duality/Components/Renderers/SpriteRenderer.cs
Labels: Bug, Core
