Repository AdamsLair/duality, pull requests merged in 2018-03, with the labels that each got.

#629 Default graphics backend now follows init rules
  Source/Platform/DefaultOpenTK/Backend/Graphics/GraphicsBackend.cs
  Source/Platform/DefaultOpenTK/CorePlugin.cs
Labels: Backend, Bug, Cleanup

#631 Convenience method and properties for ShaderParameterCollection and BatchInfo
  Source/Core/Duality/Drawing/BatchInfo.cs
  Source/Core/Duality/Drawing/ShaderParameterCollection.cs
Labels: Core, Nice2Have, Task

#627 Extract flood fill algorithm from FillTilemapTool
  Source/Plugins/Tilemaps/Core/Tilemaps.Core.csproj
  Source/Plugins/Tilemaps/Core/Tilemaps/TilemapFloodFill.cs
  Source/Plugins/Tilemaps/Editor/CamViewStates/TilemapTools/FillTilemapTool.cs
Labels: Package, Task

#635 #634: removing solution level packages
  .nuget/packages.config
  Duality.sln
Labels: Cleanup, Core
