Repository AdamsLair/duality, pull requests merged in 2018-05, with the labels that each got.

#654 #653 Serializable References
  Source/Editor/DualityEditor/DualityEditor.csproj
  Source/Editor/DualityEditor/Utility/Extensions/ExtMethodsDataObject.cs
  Source/Editor/DualityEditor/Utility/SerializableReferenceWrapper.cs
  Source/Editor/DualityEditor/Utility/SerializableWrapper.cs
Labels: Bug, Editor

#657 HandleAllInput Null Predicate Fix
  Source/Editor/DualityEditor/AssetManagement/Import/ExtMethodsIAssetImportEnvironment.cs
Labels: Bug, Editor

#661 Fix audio source releasing when stream is empty
  Source/Platform/DefaultOpenTK/Backend/Audio/NativeAudioSource.cs
Labels: Backend, Bug

#656 DataObject Extension Improvements
  Source/Editor/DualityEditor/Controls/PropertyEditors/IColorDataPropertyEditor.cs
  Source/Editor/DualityEditor/Controls/PropertyEditors/VectorPropertyEditor.cs
  Source/Editor/DualityEditor/DualityEditor.csproj
  Source/Editor/DualityEditor/Extensibility/DataConversion/ConversionData.cs
  Source/Editor/DualityEditor/Extensibility/DataConversion/ConvertOperation.cs
  Source/Editor/DualityEditor/Utility/Extensions/DataObjectStorage.cs
  Source/Editor/DualityEditor/Utility/Extensions/ExtMethodsDataObject.cs
  Source/Editor/DualityEditor/Utility/SerializableReferenceWrapper.cs
  Source/Editor/DualityEditor/Utility/SerializableWrapper.cs
  Source/Plugins/EditorBase/DataConverters/GameObjFromPrefab.cs
  Source/Plugins/EditorBase/DataConverters/PrefabFromGameObject.cs
  Source/Plugins/EditorBase/PropertyEditors/ComponentRefPropertyEditor.cs
  Source/Plugins/EditorBase/PropertyEditors/GameObjectRefPropertyEditor.cs
  Source/Plugins/EditorBase/PropertyEditors/ObjectRefPropertyEditor.cs
  Source/Plugins/EditorModules/ProjectView/Modules/ProjectFolderView.cs
  Source/Plugins/EditorModules/SceneView/Modules/SceneView.cs
  Test/Editor/DualityEditorTests.csproj
  Test/Editor/Utility/DataObjectExtensionsTest.cs
Labels: Cleanup, Editor, Feature, Unit Tests

#663 #244 Expand State saved in UserData
  Source/Plugins/EditorModules/ObjectInspector/Modules/ObjectInspector.cs
Labels: Bug, Dependency, Editor, Feature
