Repository AdamsLair/duality, pull requests merged in 2019-10, with the labels that each got.

#758 enable sourcelink
  Directory.Build.props
Labels: DevTool, Feature

#757 Addressing Bug #753: Prevent FarZ-Property of the camera component to be 0.
  Source/Core/Duality/Components/Camera.cs
Labels: Bug, Core

#760 Fix Object inspector auto refresh issue
  Source/Plugins/EditorModules/ObjectInspector/Modules/ObjectInspector.cs
Labels: Bug, Editor

#756 Set hardware cursor capability
  Source/Core/Duality/Backend/Dummy/DummyGraphicsBackend.cs
  Source/Core/Duality/Backend/Dummy/DummyNativeWindow.cs
  Source/Core/Duality/Backend/Graphics/IGraphicsBackend.cs
  Source/Core/Duality/Backend/Graphics/INativeWindow.cs
  Source/Platform/DefaultOpenTK/Backend/Graphics/GraphicsBackend.cs
  Source/Platform/DefaultOpenTK/Backend/Graphics/NativeWindow.cs
Labels: Core, Feature
