Repository AdamsLair/duality, pull requests merged in 2020-06, with the labels that each got.

#829 Fixed compiler errors when any Content folder contains source code
  Directory.Build.props
Labels: Bug, DevTool

#827 revised project structure with dualityeditor still at the root
  Source/Editor/DualityEditor/AssetManagement/AssetInternalHelper.cs
  Source/Editor/DualityEditor/AssetManagement/Import/AssetFirstImportOperation.cs
  Source/Editor/DualityEditor/AssetManagement/Import/AssetReImportOperation.cs
  Source/Editor/DualityEditor/DualityEditorApp.cs
  Source/Editor/DualityEditor/FileEventManager.cs
  Source/Editor/DualityEditor/Forms/PublishGameDialog.cs
  Source/Editor/DualityEditor/Utility/EditorHelper.cs
Labels: DevTool, Editor, Usability

#830 Improved RawList API, Implementation and Tests
  Source/Core/Duality/Utility/RawList.cs
  Test/Core/Utility/RawListTest.cs
Labels: Core, Performance, Task, Usability

#837 Updated copyright note in license info
  Build/NuGetPackageSpecs/AudioHandling.Sample.nuspec
  Build/NuGetPackageSpecs/Base.Editor.nuspec
  Build/NuGetPackageSpecs/BasicShaders.Sample.nuspec
  Build/NuGetPackageSpecs/Benchmarks.Sample.nuspec
  Build/NuGetPackageSpecs/CamView.Editor.nuspec
  Build/NuGetPackageSpecs/CameraController.Sample.nuspec
  Build/NuGetPackageSpecs/Compatibility.Core.nuspec
  Build/NuGetPackageSpecs/CustomRenderingSetup.Sample.nuspec
  Build/NuGetPackageSpecs/DefaultOpenTKBackend.Core.nuspec
  Build/NuGetPackageSpecs/DefaultOpenTKBackend.Editor.nuspec
  Build/NuGetPackageSpecs/DotNetFrameworkBackend.Core.nuspec
  Build/NuGetPackageSpecs/DualStickSpaceShooter.Sample.nuspec
  Build/NuGetPackageSpecs/Duality.Docs.nuspec
  Build/NuGetPackageSpecs/Duality.Editor.nuspec
  Build/NuGetPackageSpecs/Duality.Launcher.nuspec
  Build/NuGetPackageSpecs/Duality.Physics.nuspec
  Build/NuGetPackageSpecs/Duality.Primitives.nuspec
  Build/NuGetPackageSpecs/Duality.nuspec
  Build/NuGetPackageSpecs/DynamicLighting.Sample.nuspec
  Build/NuGetPackageSpecs/HelpAdvisor.Editor.nuspec
  Build/NuGetPackageSpecs/InputHandling.Sample.nuspec
  Build/NuGetPackageSpecs/LogView.Editor.nuspec
  Build/NuGetPackageSpecs/ObjectInspector.Editor.nuspec
  Build/NuGetPackageSpecs/ParticleSystem.Sample.nuspec
  Build/NuGetPackageSpecs/Physics.Sample.nuspec
  Build/NuGetPackageSpecs/ProjectView.Editor.nuspec
  Build/NuGetPackageSpecs/SceneView.Editor.nuspec
  Build/NuGetPackageSpecs/SmoothAnimation.Sample.nuspec
  Build/NuGetPackageSpecs/Steering.Sample.nuspec
  Build/NuGetPackageSpecs/Tilemaps.Core.nuspec
  Build/NuGetPackageSpecs/Tilemaps.Editor.nuspec
  Build/NuGetPackageSpecs/Tilemaps.Sample.nuspec
  LICENSE
  Samples/DynamicLighting/Core/DynamicLighting.Sample.Core.csproj
  Samples/DynamicLighting/Editor/DynamicLighting.Sample.Editor.csproj
  Source/Core/Duality/Duality.csproj
  Source/Core/Physics/DualityPhysics.csproj
  Source/Core/Primitives/DualityPrimitives.csproj
  Source/Editor/DualityEditor/DualityEditor.csproj
  Source/Editor/Updater/DualityUpdater.csproj
  Source/Launcher/DualityLauncher.csproj
  Source/Platform/DefaultOpenTK/DefaultOpenTK.Core.csproj
  Source/Platform/DefaultOpenTKEditor/DefaultOpenTK.Editor.csproj
  Source/Platform/DotNetFramework/DotNetFramework.Core.csproj
  Source/Plugins/EditorBase/EditorBase.Editor.csproj
  Source/Plugins/EditorModules/CamView/CamView.Editor.csproj
  Source/Plugins/EditorModules/HelpAdvisor/HelpAdvisor.Editor.csproj
  Source/Plugins/EditorModules/LogView/LogView.Editor.csproj
  Source/Plugins/EditorModules/ObjectInspector/ObjectInspector.Editor.csproj
  Source/Plugins/EditorModules/ProjectView/ProjectView.Editor.csproj
  Source/Plugins/EditorModules/SceneView/SceneView.Editor.csproj
  Source/Plugins/Tilemaps/Core/Tilemaps.Core.csproj
  Source/Plugins/Tilemaps/Editor/Tilemaps.Editor.csproj
Labels: Documentation, Task

#841 Fixed "First Session" dialog links
  Source/Plugins/EditorBase/EditorActions/FirstSession/ViewGettingStartedTutorial.cs
  Source/Plugins/EditorBase/EditorActions/FirstSession/VisitCommunity.cs
  Source/Plugins/EditorBase/EditorActions/FirstSession/VisitCommunityForum.cs
  Source/Plugins/EditorBase/Properties/EditorBaseRes.Designer.cs
  Source/Plugins/EditorBase/Properties/EditorBaseRes.resx
Labels: Bug, Editor, Plugin, Usability

#844 Fixed VS Debug / Run for launchers in Duality project template
  Source/DualityTemplates/Templates/SolutionTemplate/Source/Launchers/GameEditor/Properties/launchSettings.json
  Source/DualityTemplates/Templates/SolutionTemplate/Source/Launchers/GameLauncher/Properties/launchSettings.json
Labels: Bug, DevTool
